body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.section{
    border: 1px solid blue;
    box-sizing: border-box;
    width: 803px;
}
.clear{
    width: 800px;
    color: blue;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.display{
    border: 1px solid black;
    text-align: right;
    padding: 16px;
    font-size: 16px;
    
}
button{
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
}
